asgiref==3.9.2
certifi==2025.8.3
charset-normalizer==3.4.3
defusedxml==0.7.1
Django==5.2.6
djangorestframework==3.16.1
httpie==3.2.4
idna==3.10
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.6.4
Pygments==2.19.2
PySocks==1.7.1
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
